[submodule "simple_mem_benchmark"]
	path = simple_mem_benchmark
	url = https://github.com/annnnnnnnnnie/simple_mem_benchmark.git
[submodule "ccbench"]
	path = ccbench
	url = https://github.com/ucb-bar/ccbench.git
[submodule "riscv-benchmarks"]
	path = riscv-benchmarks
	url = https://github.com/ucb-bar/riscv-benchmarks.git
[submodule "kvmtool"]
	path = kvmtool
	url = https://github.com/kvmtool/kvmtool.git
[submodule "dtc"]
	path = dtc
	url = git://git.kernel.org/pub/scm/utils/dtc/dtc.git
[submodule "benchmark-riscv"]
	path = benchmark-riscv
	url = https://gitlab.laas.fr/matana/bench/benchmark-riscv.git
